$primary-background-color: #1d2731;
$secondary-background-color: #0b3c5d;
$tertiary-background-color: #328cc1;
$highlight-color: #d9b310;
$primary-text-color: #ffffff;

html, body {
  font-family: 'Oxygen Mono', monospace;
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-height: 100%;
  background: linear-gradient(180deg, $primary-background-color, $secondary-background-color, $tertiary-background-color) 0% 0% / 300% 300%;
  animation: 30s ease 0s infinite normal none running BackgroundAnimation;
  color: $primary-text-color;
}


html, body, #root, .App {
  min-height: 100%;
}

@keyframes BackgroundAnimation {
  0% {background-position:50% 0%;}
  50% {background-position:50% 100%;}
  100% {background-position:50% 0%;}
}

h1, h2 {
  text-align: center;
}

a {
  color: darken($primary-text-color, 10%);
}

hr {
  max-width: 50%;
  opacity: 0.1;
  margin: 30px auto;
}

small {
  font-size: 0.65rem;
}

.align-right {
  text-align: right;
}

.strikethrough {
  text-decoration: line-through;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 50px 0 150px 0;
}
.App {
  
  flex: 1;
  min-height: 65px;
  max-width: 500px;
  width: 100%;
  margin: 0 15px;
  box-sizing: border-box;
  padding: 0 20px;
}

.container {
  .ranks {
    ul:not(.normal) {
      text-align: left;
      margin-left: 0;
      padding: 0;
      li {
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background: lighten($primary-background-color, 5%);
        padding: 10px;
        border-radius: 8px;
        font-size: 1em;
        transition: border 0.15s ease-in-out, background 0.15s ease-in-out;
        border: 3px solid lighten($primary-background-color, 10%);
        &:hover {
          background: lighten($primary-background-color, 10%);
          border-color: lighten($primary-background-color, 20%);
          }
        &:first-child {
          background: $highlight-color;
          border: 4px solid lighten($highlight-color, 10%);
          label {
            text-shadow: 0 0 3px $primary-background-color;
          }
          &:hover {
            background: darken($highlight-color, 5%);
          }
        }
        &.placeholder {
          height: 24px;
          opacity: 0.2;
          animation-name: opacityTransform;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
          animation-duration: 2.5s;
          &:first-child {
            background: lighten($primary-background-color, 5%);
            border: 3px solid lighten($primary-background-color, 10%);
          }
          &:nth-child(2) {
            animation-delay: 0.5s;
          }
          &:nth-child(3) {
            animation-delay: 1s;
          }

          @keyframes opacityTransform {
            0%, 100% {
              opacity: 0.2;
            }
          50% {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  .rules {
    ul {
      padding: 0 0 0 20px;
      font-size: 0.8rem;
    }
  }

  .scavenger-hunt {
    p {font-size: 0.8rem;}
  }

  .countdown {
    font-weight: bold;
    font-size: 2.25rem;
    text-align: center;
    word-break: break-word;
    small {
      padding: 0 10px;
    }
  }

  .searchbar {
    position: relative;
    margin: 30px 0;

    input {
      font-family: 'Oxygen Mono', sans-serif;
      display: block;
      box-sizing: border-box;
      margin: 0 auto;
      width:100%;
      font-size: 1rem;
      max-width: 300px;
      height: 42px;
      border-radius: 10px 10px 0 0;
      border: none;
      border-bottom: 2px solid $secondary-background-color;
      padding: 0 10px;
      color: $primary-text-color;
      text-align: center;
      background: rgba($primary-text-color, 0);
      transition: background 0.25s ease-in-out;

      &:hover, &:focus, &:active {
        background: rgba($primary-text-color, 0.5);
        border-bottom: 2px solid $secondary-background-color;
        box-shadow: none;
        outline: none;
      }

      &::placeholder {
        color: rgba($primary-text-color, 0.8);
      }
    }

    .results {
      position: absolute;
      display: block;
      box-sizing: border-box;
      top: 42px;
      left: 0;
      right: 0;
      height: auto;
      padding: 0 10px;
      margin: 0 auto;
      max-width: 300px;
      background: darken($secondary-background-color, 10%);
      border-radius: 0 0 10px 10px;
      z-index: 1000;

      ul {
        list-style: none;
        margin: 0;
        padding: 15px 10px;
      }
    }
  }
}

footer {
  text-align: right;
  a {
    font-size: 10px;
    text-decoration: none;
  }
}